<!doctype html>
<html>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">    
    
    <title>Feedback</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
  	<body>
    		<h1>Bienvenido {{valusuario}}</h1>
		<br>
    		<h1>veo que estás {{valexpresion}}</h1>

		<img src="{{valretimg}}" class="imgback" />
		<br />
		<br />
		<br />    			    			
		<h2>{{valusutexto}}</h2>
		<br />
		<h3>{{valexpformat}}</h3>
	</body>
</html>
</html>


