<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">    
    
    <title>Feedback</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    
    </head>
	<body>
		<h1>¡Danos tu opinión!</h1>
		<h2>Envíanos una foto con tu feedback</h2>

		<main id="camera">

			<img src="//:0" alt="" id="camera--output">

			<canvas id="camera--sensor"></canvas>
			
			<video id="camera--view" autoplay playsinline></video>

			<button id="camera--trigger">¡Foto!</button>
			
			<div id="myDIV"class="contenedor">
				<h3>&nbsp;&nbsp;&nbsp;Enviando...</h3>
				<div class="barra">
				</div>
			</div>     
		</main>
    
		<script src="{{ url_for('static', filename='app.js') }}"></script>
		
		<form id="myAwesomeForm" method="post" name="myAwesomeForm" target="/archivo">
			<input type="hidden" name="feed" id="feed" value="{{value}}">
			<input type="hidden" name="anon" id="anon" value="{{value2}}">			
		</form>
	</body>
</html>
